{% extends 'survival/base_photon.html' %}

{% block banner %}
	<span class="icon major fa-cloud"></span>
	<h1>Learn more about us.</h1>
	<!-- <p>Unlike your patients,<br />
	who are probably all dead.</p> -->
{% endblock %}
                    
{% block content %}
<!-- Three -->
            <section id="three" class="main style1 special">
                <div class="container">
                    <header class="major">
                        <h2>Adipiscing amet consequat</h2>
                    </header>
                    <p>The Kaplan Meier Survival Curve provides an accurate visual representation of patient population survival over a specific period of time.  In a standard survival curve, each step in the graph represents the loss of a percentage of the population at a specific time point.  Survival curves have many uses which include: the comparison of a prospective treatment in patients and the comparison between patient populations of different diseases/disease types.  For more on survival curves, please watch: </p>
                    
                </div>
            </section>  
{% endblock %}