{% extends 'survival/base_crafty.html' %}

{% block content %}


<div ="about">
<section class="testimonials wrapper">
	
	<span class="sep_line sep_top"></span>
	<h2>Hi, We're KM Survival</h2>
	<p>A team dedicated to making you survive your curve analysis.</p>
	<span class="sep_line sep_bottom"></span>

</section><!--  End Testimonials  -->

<section class="info">

		<div class="info_details">
			<h3>sed do eiusmod tempor incididunt ut labore et dolore.</h3>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
			<!--<a href="">More Details <span>→</span></a>-->
		</div>

		<div class="info_pic">
			<div class="about-link-container">
				<br>
				<div class="about-link-box">
					<div class="about-link-icon">
					<a href="#"><i class="icon fa fa-pencil fa-3x" style="color: #fff;"></i></a>
					</div>
					<div class="about-link-text">
					<h2>Blog</h2>
					<p>New features, development work, survival curve tips.</p>
					</div>
				</div>
				<br>
				<br>
				<div class="about-link-box">
					<div class="about-link-icon">
					<a href="#"><i class="icon fa fa-envelope-o fa-3x" style="color: #fff;"></i></a>
					</div>
					<div class="about-link-text">
					<h2>Contact Us</h2>
					<p>Feel free to drop us a line and tell us how we can better serve you.</p>
					</div>
				</div>
				<br>
				<br>
				<div class="about-link-box">
					<div class="about-link-icon">
					<a href="#"><i class="icon fa fa-check fa-3x" style="color: #fff;"></i></a>
					</div>
					<div class="about-link-text">
					<h2>Sign up</h2>
					<p>Get started today by signing up for an account.</p>
					</div>
				</div>
				<br>
				<br>
				<br>

			</div>
		</div>

</section><!--  End About Banner  -->
</div>

{% endblock %}