{% extends 'survival/base_crafty.html' %}

{% block content %}


<div ="about">
<section class="testimonials wrapper">
	
	<span class="sep_line sep_top"></span>
	<h2>Hi, We're KM Survival</h2>
	<p>A team dedicated to making you survive your curve analysis.</p>
	<span class="sep_line sep_bottom"></span>

</section><!--  End Testimonials  -->

<section class="info">

		<div class="info_details">
			<h3>sed do eiusmod tempor incididunt ut labore et dolore.</h3>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
			<!--<a href="">More Details <span>→</span></a>-->
		</div>

		<div class="info_pic">

		</div>
</section><!--  End About Banner  -->
</div>

{% endblock %}