{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>KM Survival |  Generate a kaplan meier survival curve in minutes</title>
	<meta charset="utf-8">
	<meta name="author" content="kmsurvival.com">
	<meta name="description" content="KM Survival allows you to build a kaplan meier survival curve in minutes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'crafty/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'crafty/css/main_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'telephasic/css/skel.css' %}" />
    <script type="text/javascript" src="{% static 'crafty/js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'crafty/js/carouFredSel.js'%}"></script>
    <script type="text/javascript" src="{% static 'crafty/js/main.js'%}"></script>
    <script src="{% static 'telephasic/js/skel.min.js' %}"></script>
	<script src="{% static 'telephasic/js/skel-layers.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

	<header>
		<div class="wrapper">
			<img src="{% static 'crafty/img/logo.png' %}" alt="Crafty" class="logo">
			<a href="#" class="menu_icon" id="menu_icon"></a>
			<nav id="nav_menu">
				<ul>
					<li><a href="dev">Home</a></li>
					<li><a href="dev_about">About</a></li>
					<li><a href="#">Product</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>

			<ul class="social">
				<li><a class="fb" href="#"></a></li>
				<li><a class="twitter" href="#"></a></li>
				<li><a class="gplus" href="#"></a></li>
			</ul>
		</div>
	</header><!--  End Header  -->
    {% block content %}
    {% endblock %}
<!-- 	<section class="billboard">
			<div class="wrapper">
				<div class="caption">
					<p>Excepteu roccaecat</p>
					<p>sunt culpa officia deserunt</p>
				</div>
			</div>
	</section><!--  End Billboard  -->


<!-- 	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>Testimonials</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p>
				<p class="author">John Doe - UX Designer</p>
			</div>
			<div class="t">
				<p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p>
				<p class="author">Jane Eva - SEO Expert</p>
			</div>
			<div class="t">
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur, Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p class="author">John David - Developer</p>
			</div>
		</div>
		<div id="t_navigation"></div>
		<span class="sep_line sep_bottom"></span>

	</section><!--  End Testimonials  -->





	<footer>
		<p class="rights">Copyright © KMSurvival - All rights reserved.  <a href="http://kmsurvival.com">KMSurvival.com</a></p>
	</footer><!--  End Footer  -->

</body>
</html>