{% extends 'survival/base_crafty.html' %}

{% block head%}

{% endblock%}

{% block content %}
<div class="wrapper">
	<section class="testimonials wrapper">
	
	<br>
	<br>
	<h2>Contact Us</h2>
	<p>Drop us a line.</p>
	<br>
	<br>
	<br>

	</section><!--  End Testimonials  -->


	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
		<div class="Grid-cell u-1of2">

			<form method="post" action="#">

				<div class="Grid Grid--gutters u-textCenter">
					<div class="Grid-cell">
						<input name="name" placeholder="Name" type="text" />
					</div>
					<div class="Grid-cell">
						<input name="email" placeholder="Email" type="text" />
					</div>
				</div>
				<div class="Grid Grid--gutters u-textCenter">
					<div class="Grid-cell">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
				</div>
				<div class="Grid Grid--gutters u-textCenter">
					
						<div class="Grid-cell">
						
							<input type="submit" value="Send Message" />
					
						</div>
						<div class="Grid-cell">
						
							<input type="reset" value="Clear form" />
						</div>
						<div class="Grid-cell">
						</div>

					
				</div>
			</form>
		</div>

		<div class="Grid-cell">
			<div class="wrapper-contact-links">
				<ul class="divided icons">
					<li class="icon fa fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
					<br>
					<li class="icon fa fa-facebook"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
					<br>
					<li class="icon fa fa-google-plus"><a href="#"><span class="extra">plus.google.com/</span>untitled</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>



{% endblock %}