{% extends 'survival/base_crafty.html' %}

{% block head%}

{% endblock%}

{% block content %}
<div class="wrapper">
	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
		<div class="Grid-cell u-1of2">
			<div class = "wrapper-contact-form">
				<form method="post" action="#">

					<div class="Grid Grid--gutters u-textCenter">
						<div class="Grid-cell">
							<input name="name" placeholder="Name" type="text" />
						</div>
						<div class="Grid-cell">
							<input name="email" placeholder="Email" type="text" />
						</div>
					</div>
					<div class="Grid Grid--gutters u-textCenter">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
					<div class="Grid Grid--gutters u-textCenter">
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
							<li><input type="reset" value="Clear form" /></li>
						</ul>
					</div>
				</form>
				</div>
			</div>

			<div class="Grid-cell">
				<div class="wrapper-contact-links">
					<li class="icon fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
					<li class="icon fa-facebook"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
					<!--<li class="icon fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>-->
		<!--<ul class="divided icons 6u 12u(mobile)">
		    <li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>
		    <li class="icon fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
		    <li class="icon fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>
		</ul>-->
				</div>
			</div>
</div>
</div>



{% endblock %}