{% extends 'survival/base_crafty.html' %}

{% block head %}
	<title>Survival Curve</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.css">

{% endblock %}

{% block content %}
<div class="flexbox-container">
    <div class="col-left-2">
    	<div class="curve-box p10">
            <div class="h1">Your Generated Survival Curve</div>
            <div id="curve"></div>
            <a href="{% url 'download' %}" id="download" class="button">Download</a> 
        </div>
    	<div class="form-box p10">
            <div class="h1">Generate Curve</div>
    		<form id="input-form1">
                <input type="hidden" name="numberOfGroups" value="2">
                <div class="group">
                    <div class="field">
                        <label>Length of experiment (days):</label>
                        <input type="text" name="lengthOfExprimentInDays">
                    </div>
                    <div class="field">
                        <label>Number of samples per group:</label>
                        <input type="text" name="samplesInGroup">
                    </div>
                </div>
                <div class="group">
                    <div class="field">
                        <label>Group 1 Label</label>
                        <input type="text" name="name1">
                    </div>
                    <div class="field">
                        <label>Data Series:</label>
                        <input type="text" name="type2_data1" placeholder="Enter day sample died separated by comma (eg 2, 6, 6, 8)">
                    </div>
                </div>
                <div class="group">
                    <div class="field">
                        <label>Group 2 Label</label>
                        <input type="text" name="name2">
                    </div>
                    <div class="field">
                        <label>Data Series:</label>
                        <input type="text" name="type2_data2" placeholder="Enter day sample died separated by comma (eg 2, 6, 6, 8)">
                    </div>
                </div>
            </form>
            <div class="button-area">
                <button class="button" onclick="animateCurveDraw()">Generate</button>
                <button class="button" onclick="fillSampleData()">Fill in Sample Data</button>
            </div>
    	</div>
    </div>
    <div class="col-right-1 p10">

        <h1>
        Let's get curving.
        </h1>
        <p>
            Enter your surival data to the left to begin generating a survival curve. 
        </p>
        
        <p>
            Begin by entering how many days the experiment was and how many samples are in each group. For each data set, enter a label and the time each sample died. The times of death should be comma separated (ex: 2, 6, 6, 8).  Happy Curving!
        </p>

        <p>
        If you are interested and want to know more as we add new features to the site, please sign up for our emailing list <a href="sign_up"><u>here</u></a>.
        </p>
    </div>
</div>
{% endblock %}