{% extends 'survival/base_crafty.html' %}

{% block head %}
	<title>Survival Curve</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.css">

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<script type="text/javascript">
	</script>

{% endblock %}

{% block content %}
<div class="flexbox-container">
    <div class="col-left-2">
    	<div class="curve-box">curve</div>
    	<div class="form-box">
    		<div>
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    		</div>
    		<button onclick="animateCurveDraw()">Generate</button>
    	</div>
    </div>
    <div class="col-right-1">Two</div>
</div>
{% endblock %}