{% extends 'survival/base_crafty.html' %}

{% block content %}


<section class ="signup">
<section class="signup-wrapper">
	
	<span class="sep_line sep_top"></span>
	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
	<div class="Grid-cell u-1of3">
	</div>

	<div class="Grid-cell--center u-1of3">
	
	<h2>Oops.  Pardon our dust.</h2>
	<p>We thank you for your interest in a paid account!  We're still hard at work at KM Survival to ensure that you get only the best product.  Our paid account section is still under construction.  We will not charge you for something that is not complete.  For now, <a href="curve"><u>enjoy generating some simple curves</u></a> and please sign up for our newsletter.  You'll be the first to know as new features and paid accounts are avaialble.</p>
	<br>
	<p>Subscribe for promo codes, new features, curve analysis tips and much more</p>
	<br>
    <form method="post" action="subscribe">
        <input type="text" name="personalName" placeholder="Name" />
        <input type="text" name="emailAddress" placeholder="Email Address"/>
        <input type="submit" value="Subscribe" />
    </form>

    </div>
	<div class="Grid-cell u-1of3">
    </div>

    </div>

</section><!--  End email signup  -->
</section>

{% endblock %}

