{% extends 'survival/base_telephasic.html' %}


{% block body-class-beg %}
    
{% endblock %}
    <body class="homepage">
{% block banner %}
<!-- Hero -->
<section id="hero" class="container">
    <h2>Hi, We're <strong>KM Survival</strong>,<br>
    a team dedicated<br>
    to make you survive<br>
    your curve analysis.</h2>
    <br>
    <ul class="actions">
        <li><a href="#intro" class="button">Discover</a></li>
    </ul>
</section>

{% endblock %}
                    
{% block content %}
    <!-- Features 1 -->
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <section class="6u 12u(narrower) feature" id="intro">
                            <header>
                                <h2>We make it simple.</h2>
                            </header>
                            <p>The KM Survival Curve by HippoGen is designed to provide scientists with a functional, easy-to-use software for generating survival curves from experimental data.</p>
                            <ul class="actions">
                                <li><a href="input_data" class="button">Try it out</a></li>
                            </ul>
                        </section>
                        <section class="6u 12u(narrower) feature">
                            <div class="image-wrapper">
                                <a href="#" class="image featured"><img src="http://lifelines.readthedocs.org/en/latest/_images/Introtolifelines_19_0.png" alt="" /></a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        <!-- Promo -->
            <div id="promo-wrapper">
                <section id="promo">
                    <h2>Sign up for our email list</h2>
                    <form method="post" action="subscribe">
                        Be the first to find out as we add new features to the site.
                        <input type="text" name="personalName" placeholder="Name" />
                        <input type="text" name="emailAddress" placeholder="Email Address"/>
                        <input type="submit" value="Sign Up" />
                    </form>
                </section>
            </div>

{% endblock %}