{% extends 'survival/base_crafty.html' %}

{% block content %}

<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<h1>KM SURVIVAL</h1>
				<br>
				<p>Generating survival curves <br>in minutes, not hours.</p>
			</div>
		</div>

		<section class="features">

		<div class="wrapper">
				<div class="feature">
					<div class="ficon">
					</div>
					<div class="details_exp">
						<h3>Input</h3>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
					</div>
					<div class="details_exp">
						<h3>Generate</h3>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
					</div>
					<div class="details_exp">
						<h3>Download</h3>
					</div>
				</div>
			</div>

	</section><!--  End Features  -->
	<section class="cta">
		<a href="#" class="cta_btn">Get Started</a>
		<a href="#" class="cta_btn">Learn More</a>
	</section><!--  End Features  -->
</section><!--  End Billboard  -->

{% endblock %}