{% extends 'survival/base.html' %}

{% block head %}
	<title>Survival Curve</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js" charset="utf-8"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js" charset="utf-8"></script>
{% endblock %}


{% block content %}
	<form name="data">
		<table>
			<p> Data Set 1 </p>
			<tr>
				<td class="defCol"></td>
				<input type="text" name="time1" id="time1" value=""/>
				<td class="defCol"></td>
				<input type="text" name="data1" id="data1" value=""/>
			</tr>
			<br>
			<p> Data Set 2 </p>
			<tr>
				<td class="defCol"></td>
				<input type="text" name="time2" id="time2" value=""/>
				<td class="defCol"></td>
				<input type="text" name="data2" id="data2" value=""/>
			</tr>
		</table>
	</form>
	<button type = "button" onclick="submitData()">Submit</button>

	<div id="chart"></div>
{% endblock %}