{% extends 'survival/base_crafty.html' %}

{% block content %}



<section class="testimonials wrapper">
	
	<span class="sep_line sep_top"></span>
	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
	<div class="Grid-cell u-1of3">
	</div>

	<div class="Grid-cell--center u-1of3">
	
	<h2>Sign up for our email list</h2>
	<br>
    <form method="post" action="subscribe">
        <input type="text" name="personalName" placeholder="Name" />
        <input type="text" name="emailAddress" placeholder="Email Address"/>
        <input type="submit" value="Sign Up" />
    </form>

    </div>
	<div class="Grid-cell u-1of3">
    </div>
    </div>

</section><!--  End Testimonials  -->

<section class="info">

		<div class="info_details">
			<h3>sed do eiusmod tempor incididunt ut labore et dolore.</h3>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<a href="">More Details <span>→</span></a>
		</div>

		<div class="info_pic">

		</div>
</section><!--  End About Banner  -->

{% endblock %}