{% extends 'survival/base_crafty.html' %}

{% block content %}


<section class ="signup">
<section class="signup-wrapper">
	
	<span class="sep_line sep_top"></span>
	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
	<div class="Grid-cell u-1of3">
	</div>

	<div class="Grid-cell--center u-1of3">
	
	<h2>Free Email List Subscription</h2>
	<p>Subscribe for promo codes, new features, curve analysis tips and much more</p>
	<br>
    <form method="post" action="subscribe">
        <input type="text" name="personalName" placeholder="Name" />
        <input type="text" name="emailAddress" placeholder="Email Address"/>
        <input type="submit" value="Subscribe" />
    </form>

    </div>
	<div class="Grid-cell u-1of3">
    </div>

    </div>

</section><!--  End email signup  -->
</section>

<section class="signup-info">


		<div class="signup-info_details">
			<h3>Clear &  Simple Pricing.</h3>
			<p>We operate with transparency, reflected in our simple upfront monthly payment with no hidden costs.  Let our simplicity help you.</p>
			<h2>Meet Bob.</h2>
			<p>Bob loves his job as a biomedical researcher. To move forward, Bob needs to show his work and progress to the academic and medical community.  Bob needs to generate a survival curve, but it takes him hours to do so!  Other solutions cost him hundreds of dollars.  With 7 conferences a year, and monthly presentations, Bob is generating almost 20 survival curves: each one taking him 3 hours.  Then Bob discovered KM Survival.  Now, it only takes him minutes to generate a survival curve.  It's as simple as typing in the data, clicking a button, and he has high quality, vectorized, publishable surivival curve graphs ready to go.  With so much time saved, Bob now has more time to focus on science!</p>
			<img src="../static/crafty/img/happy-scientist.png" alt="HappyBob">
			<!--<h2>Meet Bob.</h2>
			<p>Bob loves his job as a biomedical researcher. His experiments towards cancer research are important to him.</p>
			<img src="../static/crafty/img/inspecting-slide.png" alt="BobTheResearcher">
			<p>To move forward, Bob needs to show his work and progress to the academic and medical community.  Bob needs to generate a survival curve, but it takes him hours to do so!  Other solutions cost him hundreds of dollars.  Going to 7 conferences a year, and updating his fellow colleagues at least once a month, Bob is generating almost 20 survival curves.  Each one taking him 3 hours.</p>
			<img src="../static/crafty/img/scientist-head.png" alt="SadBob">
			<p>Then Bob discovered KM Survival.  Now, it only takes him minutes to generate a survival curve.  It's as simple as typing in the data, and clicking a button, and he has high quality, vectorized, publishable surivival curve graphs ready to go.  With so much time saved, Bob now has more time to focus on science!</p>
			<img src="../static/crafty/img/happy-scientist.png" alt="HappyBob">
			-->
			<!--<a href="">More Details <span>→</span></a>-->
		</div>

		<div class="signup-info_pic">
			<div class = "pricing_box_container">
			<div class = "pricing_box">
			<h3>PERSONAL PLAN</h3>
			<div class = "hr"></div>
			<h3>
			<sup>$</sup>
			<font size="100">5</font>
			<sub>/MO</sub>
			</h3>
			<p>
			For 12 months.
			</p>


			<!--<p>
			Unlimited Graph Generation
			<br>
			Unlimited Graph Downloads
			<br>
			Graph Customization
			<br>
			First for Beta
			</p>
			-->

			<ul class="signup">
				<li>Unlimited Graph Generation</li>
				<li>Unlimited Graph Downloads</li>
				<li>Graph Customization</li>
				<li>First for Beta</li>
			</ul>

			<section class="cta">
				<a href="#" class="cta_btn">Sign up!</a>
			</section>

			</div>

			

			</div>
		</div>
</section><!--  End About Banner  -->

{% endblock %}