{% extends 'survival/base_crafty.html' %}

{% block content %}


<section class ="signup">
<section class="signup-wrapper">
	
	<span class="sep_line sep_top"></span>
	<div class="Grid Grid--gutters Grid--flexCells u-textCenter">
	<div class="Grid-cell u-1of3">
	</div>

	<div class="Grid-cell--center u-1of3">
	
	<h2>Sign up for our email list</h2>
	<br>
    <form method="post" action="subscribe">
        <input type="text" name="personalName" placeholder="Name" />
        <input type="text" name="emailAddress" placeholder="Email Address"/>
        <input type="submit" value="Sign Up" />
    </form>

    </div>
	<div class="Grid-cell u-1of3">
    </div>

    </div>

</section><!--  End email signup  -->
</section>

<section class="info">


		<div class="info_details">
			<h3>sed do eiusmod tempor incididunt ut labore et dolore.</h3>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<p>Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			<a href="">More Details <span>→</span></a>
		</div>

		<div class="info_pic">
			<div class = "pricing_box_container">
			<div class = "pricing_box">
			<h3>PERSONAL</h3>
			<div class = "hr"></div>
			<h3>
			<sup>$</sup>
			<font size="100">5</font>
			<sub>/MO</sub>
			</h3>
			<p>
			For 12 months.
			</p>


			<ul class="signup">
				<li>Unlimited Graph Generation</li>
				<li>Unlimited Graph Downloads</li>
				<li>Graph Customization</li>
				<li>First for Beta</li>
			</ul>

			<section class="cta">
				<a href="#" class="cta_btn">Sign up!</a>
			</section>

			</div>

			

			</div>
		</div>
</section><!--  End About Banner  -->

{% endblock %}